name: "Build ISO"
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        format: [install-iso, qcow]
        plattform: [x86_64-linux]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-24.05
        extra_nix_config: |
          system-features = aarch64-linux arm-linux kvm
    - run: |
         DEBIAN_FRONTEND=noninteractive
         sudo apt-get update -q -y && sudo apt-get install -q -y tree qemu-system-aarch64 qemu-efi binfmt-support qemu-user-static
    - run: ./build ${{ matrix.format }} ${{ matrix.plattform }}
    - run: tree result
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.plattform }}-${{ matrix.format }}
        path: result/
        if-no-files-found: error
        retention-days: 5


  create_release:
    runs-on: ubuntu-latest
    needs:
      - build
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
      - name: Display structure of artifact
        run: ls -R
      - name: Create Release & Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          prerelease: false
          # Note: Release notes are only auto-generated if the release was
          # created by the Github Action and was not created in the Github UI.
          generate_release_notes: true
          fail_on_unmatched_files: false
          files: |
            ./*/*.qcow2
      - name: Create Release & Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          prerelease: false
          generate_release_notes: true
          fail_on_unmatched_files: false
          files: |
            ./*/*/*.iso
